@import '@material/button/mdc-button';

.home {
  .jumbotron {
    background-image: url('http://res.cloudinary.com/dhahnivds/image/upload/v1528881163/banner_btixti.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -220px;
    position: relative;
    .jumbotron-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #444, transparent);
      opacity: 0.8;
    }
    .jumbotron-content {
      position: absolute;
      left: 100px;
      bottom: 200px;
      z-index: 1;
      .jumbotron-content__text {
        width: 700px;
        font-size: 36px;
        text-transform: uppercase;
        color: #fff;
      }
      button {
        margin-top: 20px;
        background-color: #fff;
        color: #4a4a4a;
        width: 300px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
