.top-nav {
  padding: 0 10% !important;
}

.logo {
  width: 50px;
}

.right-nav {
  display: inline-block;
  margin: 0;
  height: 100%;
  li {
    display: inline-block;
    :hover {
      background-color: #ECECEC;
    }
    a {
      color: #4A4A4A;
      display: inline-block;
      height: 100%;
      padding: 21px 15px;
    }
  }
}